node_modules
dist
dist-ssr
*.local

.env
.env.local
.env.*.local

.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lockfiles from other package managers
package-lock.json
pnpm-lock.yaml

coverage
.cache
.turbo

openapi.yaml
